.wrapper{
  width:95%;
  margin: 0 auto;
}
*{
  margin: 0;
  padding:0;
  list-style: none;

}
body{
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
}
input{
  outline:none;
  border:none;
}
a{
  text-decoration:none;
}
.pagin{
  /* padding: 10px; */
  display:flex;
  width:60%;
  justify-content: space-between;
  gap:30px;
  margin: 0 auto !important;
  background: #09d2e8;
  align-items: center;
}
.pagin li{
  cursor:pointer;
  padding:10px;

}
.pagin .selected{
  background-color: aquamarine;
  padding:10px;
}